fastapi==0.115.8
uvicorn[standard]==0.30.6
pydantic==2.10.6
pydantic-settings==2.8.1
redis==5.0.8
scapy==2.5.0
SQLAlchemy
aiosqlite==0.20.0
psycopg2-binary
numpy
pandas
scikit-learn
joblib==1.4.2
prometheus-client
